airbnb-tutorial/output/visualizations/*
airbnb-tutorial/output/cleaned_data.csv
airbnb-tutorial/output/summary.csv
airbnb-tutorial/.snakemake

wine-tutorial/output/visualizations/*
wine-tutorial/output/models
wine-tutorial/output/*.csv
wine-tutorial/output/*.txt
wine-tutorial/.snakemake

notebook-tutorial/.snakemake

want.txt
Snakefile
